    body {
      font-family: Arial, sans-serif;
      background-color: #f4f6f8;
      color: #333;
      display: flex;
      justify-content: center;
      align-items: flex-start;   /* Align to top */
      min-height: 100vh;         /* Use min-height to allow page to grow */
      padding-top: 50px;         /* Add some spacing from the top */
      margin: 0;
    }

    .form-container {
      background-color: #ffffff;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      width: 90%;
      max-width: 600px; 
    }
    
    .input-group {
      margin-bottom: 20px;
    }
    
    h2 {
      color: #2c3e50;
      margin-bottom: 20px;
      text-align: center;
    }

    label {
      display: block;
      margin-bottom: 6px;
      margin-top: 6px;
      font-weight: 500;
      color: #343c5ea8;
    }

    select {
      font-size: 14px;
    }

    input[type="text"],
    input[type="password"],
    input [type="number"] {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      border: 1px solid #ccd6dd;
      border-radius: 4px;
      font-size: 14px;
      transition: border-color 0.3s ease;
    }

    input[type="text"]:focus {
      border-color: #3498db;
      outline: none;
    }

    input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #3498db;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover {
      background-color: #2980b9;
    }
